html, body {
  margin:0px;
 
 
}

.marg-bottom-10 {
	margin-bottom:250px;
}
.margin-right-2{
	margin-right:15px;
}

/* select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
} */

.background {
	
	height: 100%;
	width: 100vw;
	position:relative;
	margin:-15px;
	background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('/images/pizzabackground.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.background-history {
	
	height: 100vh;
	width: 100vw;
	position:relative;
	margin:-15px;
	background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('/images/backgroundorder.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}


.card-background {
    
    background-color: rgba(255, 255, 255, 0.9) !important;
    
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #4682B4 !important;
    border-color: #4682B4 !important;
     
}

.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:visited {
    background-color: #8B0000 !important;
    border-color: #8B0000 !important;
     
}


.link
{
	width: fit-content;
	margin: 5px 20px;
	text-decoration: none;
/* 	color: #0054ff; */
	color: #F0F8FF;
	
}

.link:hover
{
	color: darkgrey;
}

.content {
  padding: 7rem 0; }
  
.ms-options {
  padding: 20px;
  border: none; }

.ms-options-wrap > button:focus, .ms-options-wrap > button {
  border-radius: 4px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  border: none !important;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 2; }
  .ms-options-wrap > button:focus:hover, .ms-options-wrap > button:hover {
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1); }
  .ms-options-wrap > button:focus:after, .ms-options-wrap > button:after {
    right: 10px; }
  .ms-options-wrap > button:focus:active, .ms-options-wrap > button:focus:focus, .ms-options-wrap > button:active, .ms-options-wrap > button:focus {
    outline: none; }

.ms-options-wrap.ms-active > button:focus, .ms-options-wrap.ms-active > button {
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1); }

.ms-options-wrap > .ms-options {
  z-index: 1;
  margin-top: 12px;
  border: none !important;
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px; }
  .ms-options-wrap > .ms-options .ms-search input {
    border-bottom: 1px solid #efefef; }
  .ms-options-wrap > .ms-options .ms-selectall {
    color: #aaaaaa;
    text-transform: uppercase;
    font-size: 11px; }
    .ms-options-wrap > .ms-options .ms-selectall:hover {
      color: #000; }
  .ms-options-wrap > .ms-options > ul li.selected label {
    border-radius: 4px;
    background: #e1f2fb; }
  .ms-options-wrap > .ms-options > ul li label {
    border-radius: 4px;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px; }
  .ms-options-wrap > .ms-options > ul li:hover label {
    border: none;
    background: #f7f7f7; }